
body {
    background-image: url(page1/底图.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center top;
}


.title {
    height: 60px;
    width: 105%;
    background-position: center top;
    background-color: rgba(65, 192, 115, 0.6);
    background-attachment: fixed;
    position: relative ;
    text-align:center;
    top: -10px;
    left: -3%;
    margin: 0px auto;
    overflow: visible;
    z-index: 100;
}

    .logo {
        margin-top:10px;
        height:40px;
        width:30%;
    }

.touxiang {
    position: relative ;
    top: -60px;
    left: 2%;
    width: 10%;
    height: auto;
    z-index: 101;
}

    .touxiang img {
        border: 5px solid yellow;
        border-radius: 50%;
        overflow: hidden;
        width: 65px;
        height: 65px;
        background-color:#FFFFFF;
    }

.spaceT {
    position: relative;
    margin-top :-50px;
    height: 0px;
}

.space {
    height: 15px;
}

.img {
    position: relative;
    width: 90%;
    left: 5%;
}
