div img {
    position: relative;
    width: 100%;
    height: auto;
}

body {
    background-image: url(page2/page-2background.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center top;
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.title {
    width: 105%;
    background-position: center top;
    background-color: rgba(65, 192, 115, 0.6);
    background-attachment: fixed;
    position: relative ;
    text-align:center;
    top: -10px;
    left: -3%;
    margin: 0px auto;
    overflow: visible;
    z-index: 100;
}

.tag {
    position: relative;
    width: 105%;
    left: -3%;
    top: -10px;
    height: auto;
    font-size: 12px;
}

        .tag .wrapper {
            overflow: hidden;
            background-color: rgb(65, 192, 115);
        }

    .tag .scroller {
        position: relative;
        width: 98%;
        left:1%;
        background-color: #41c073;
    }

        .tag .scroller .item {
            position: relative;
            display: inline-table;
            width: 32%;
            left: 1%;
            background-color: #41c073;
            border-bottom: solid 3px #41c073;
        }

        .tag .scroller .item.on {
            border-bottom: solid 3px green;
        }

.CallMT {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 40%;
    height: 40px;
    left: 30%;
    background-color: #41C073;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: #999 5px 5px 5px;
}

    .CallMT a {
        font-family: 幼圆;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
    }

.jieshao {
    position: relative;
    width: 90%;
    height: auto;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.70);
    text-align: start;
    line-height: 20px;
    border-radius: 5px;
    padding: 2%;
}

    .jieshao b {
        font-family: 幼圆;
        font-weight: bold;
        font-size: large;
        color: #000;
    }

    .jieshao p {
        font-family: 幼圆;
        font-weight: bold;
        font-size: medium;
        color: #000;
    }
