div img {
    position: relative;
    width: 100%;
    height: auto;
}

.Hide {
    display: none!important;
}

.hide {
    display: none;
}

.Fix:after {
    display: block;
    content: '';
    height: 0;
    clear: both;
}

.Left {
    float: left!important;
}

.Right {
    float: right!important;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

:not(input textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    background-image: url(http://www.zjd.gov.cn/mathmt/page2/page-2底图.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center top;
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size:14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

button, input, select, textarea {
    font-size: 100%;
    outline: 0;
}

textarea, input, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

textarea, input {
    resize: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

.link-btn {
    height: 45px;
    line-height: 45px;
    color: #666;
    text-align: center;
    font-size: 16px;
    display: block;
    background-color: #FFF;
    border: solid 1px #c7c7c7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.btn {
    color: #fff;
    background: #f63;
    padding: 0 10px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.btn_tel {
    color: #fff;
    background: #f63;
    padding: 0 10px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.btn.big {
    font-size: 18px;
    display: block;
    height: 45px;
    line-height: 45px;
    -webkit-appearance: none;
    border: none;
    width: 90%;
    height: 50px;
    margin: 0 auto 20px;
}

.btn.btndisable {
    background: #9f9f9f;
}

footer {
    text-align: center;
    padding: 10px 5px;
    font-weight: 400;
    font-size: 12px;
    padding-top: 15px;
}

    footer a {
        color: #adadad;
        line-height: 28px;
    }

    footer em {
        color: #8c8c8c;
        padding: 0 12px;
        font-weight: 400;
        font-style: normal;
    }

    footer .copyright {
        color: #d1d1d1;
        margin-top: 20px;
        text-shadow: 0 1px 1px #fff;
    }

    .payorder-box .item:first-child {
        background: repeat-x 0 top;
        background-size: auto 1px,1px auto;
    }

.card-icon {
    width: 38px;
}

    .card-icon.bank {
        background-position: 0 -2px;
        height: 32px;
    }

    .card-icon.zhifu {
        background-position: 0 -46px;
        height: 36px;
    }

    .card-icon.weixin {
        background-position: 0 -94px;
        height: 38px;
    }

.circle-select.on .icon {
    background: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/comm.png);
    background-size: 25px auto;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position: -7px -315px;
}

.arrow-ent {
    width: 8px;
    height: 8px;
    position: absolute;
    border-right: 2px solid #bab5ad;
    border-bottom: 2px solid #bab5ad;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ns-arrow {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

    .ns-arrow.arrow-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .ns-arrow.arrow-bottom {
        transform: rotate(-315deg);
        -webkit-transform: rotate(-315deg);
        position: relative;
        top: -2px;
    }

    .ns-arrow.arrow-top {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        position: relative;
        top: 2px;
    }

    .ns-arrow.arrow-left {
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
    }

.link-list {
    background-color: #FFF;
}

    .link-list .item {
        padding: 15px 30px 15px 10px;
        position: relative;
        display: block;
        color: #323232;
    }

        .link-list .item .arrow-ent {
            top: 50%;
            margin-top: -5px;
            right: 10px;
        }

        .link-list .item .tip {
            float: right;
            font-size: 12px;
            color: #999;
        }

.type-tag {
    display: block;
    width: 33px;
    height: 13px;
    background: url(//j1.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/tag.png) no-repeat 0 0;
    background-size: auto 100px;
}

    .type-tag.threeD {
        background-position: 0 0;
    }

    .type-tag.fourD {
        background-position: 0 -13px;
    }

    .type-tag.imax {
        background-position: 0 -26px;
        width: 40px;
    }

    .type-tag.imaxThreeD {
        background-position: 0 -39px;
        width: 58px;
    }

    .type-tag.pre {
        background-position: 0 -52px;
    }

    .type-tag.new {
        background-position: 0 -65px;
    }

.star {
    display: inline-block;
    width: 66px;
    height: 12px;
    vertical-align: middle;
    background: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/remark.png) no-repeat;
    background-size: 86px auto;
}

    .star.star-0 {
        background-position: 0 -334px;
    }

    .star.star-10 {
        background-position: 0 -317px;
    }

    .star.star-20 {
        background-position: 0 -300px;
    }

    .star.star-30 {
        background-position: 0 -283px;
    }

    .star.star-35 {
        background-position: 0 -266px;
    }

    .star.star-40 {
        background-position: 0 -249px;
    }

    .star.star-45 {
        background-position: 0 -232px;
    }

    .star.star-50 {
        background-position: 0 -215px;
    }

.big-star {
    display: inline-block;
    width: 92px;
    height: 16px;
    vertical-align: middle;
    background: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/remark.png) no-repeat;
    background-size: 86px auto;
}

    .big-star.star-0 {
        background-position: 0 -175px;
    }

    .big-star.star-10 {
        background-position: 0 -154px;
    }

    .big-star.star-20 {
        background-position: 0 -133px;
    }

    .big-star.star-30 {
        background-position: 0 -112px;
    }

    .big-star.star-35 {
        background-position: 0 -91px;
    }

    .big-star.star-40 {
        background-position: 0 -70px;
    }

    .big-star.star-45 {
        background-position: 0 -49px;
    }

    .big-star.star-50 {
        background-position: 0 -28px;
    }

.error-cnt {
    padding: 30px 50px;
}

    .error-cnt .title, .error-cnt .sub {
        padding-left: 40px;
    }

    .error-cnt .title {
        color: #333;
        font-size: 21px;
        background: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/error.png) no-repeat 0 4px;
        background-size: 30px auto;
        line-height: 40px;
    }

    .error-cnt .sub {
        color: #999;
    }

.line-b {
    background-image: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-x-bottom.png);
    background-position: 0 bottom;
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-t {
    background-image: url(//j1.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-x-top.png);
    background-position: 0 top;
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-tb {
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-b-d7 {
    background-image: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-x-bottom-d7.png);
    background-position: 0 bottom;
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-t-d7 {
    background-image: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-x-top-d7.png);
    background-position: 0 top;
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-tb-d7 {
    background-size: auto 1px;
    background-repeat: repeat-x;
}

.line-l {
    background-image: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-y-left.png);
    background-position: left 0;
    background-size: 1px auto;
    background-repeat: repeat-y;
}

.line-r {
    background-image: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/repeat-y-right.png);
    background-position: right 0;
    background-size: 1px auto;
    background-repeat: repeat-y;
}

.line-lr {
    background-size: 1px auto;
    background-repeat: repeat-y;
}

.ns-select {
    background: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/icon.png) no-repeat;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 5px;
    vertical-align: middle;
    background-size: 32px auto;
    position: absolute;
    top: 25%;
    right: 10px;
}

    .ns-select.single-selected {
        background-position: -4px -40px;
    }

    .ns-select.single-unselected {
        background-position: -4px -70px;
    }

    .ns-select.single-disable {
        background-position: 0 -8px;
    }

    .ns-select.mutiple-disable {
        background-position: 0 -146px;
    }

    .ns-select.mutiple-selected {
        background-position: 0 -194px;
    }

    .ns-select.mutiple-unselected {
        background-position: 0 -242px;
    }

.ns-banner {
    color: #e58f1f;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    background-color: #fff3db;
    border-bottom: 1px solid #f3d08c;
}

    .ns-banner .arrow-fix {
        right: 10px;
        top: 13px;
    }

.ns-caption {
    color: #333;
    font-size: 15px;
    text-align: left;
    background-color: #f0f0f0;
    height: 150px;
}

    .ns-caption .icon-wrapper {
        width: 40%;
    }

        .ns-caption .icon-wrapper i {
            background: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/dp.png) no-repeat center;
            display: inline-block;
            width: 100px;
            height: 120px;
            background-size: 200px 120px;
            margin-top: 15px;
        }

            .ns-caption .icon-wrapper i.icon-tp1 {
                background-position: -5px -4px;
            }

            .ns-caption .icon-wrapper i.icon-tp2 {
                background-position: 26px -4px;
            }

    .ns-caption .text-wrapper {
        display: table;
        height: 100%;
        overflow: hidden;
        margin: 0 15px 0 0;
    }

        .ns-caption .text-wrapper .text {
            display: table-cell;
            vertical-align: middle;
        }

.tab-nav {
    height: 45px;
    line-height: 45px;
    background-color: #FFF;
    display: -box;
    display: -webkit-box;
    display: -ms-flexbox;
}

    .tab-nav .item {
        -webkit-box-flex: 1;
        -box-flex: 1;
        -ms-box-flex: 1;
        -ms-flex: 1;
        color: #333;
        font-size: 15px;
        display: block;
        text-align: center;
    }

        .tab-nav .item.on {
            color: #f63;
            background: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/nav-arr.png) no-repeat center bottom;
            background-size: 13px auto;
        }

.schedule {
    position: relative;
    top: -3px;
    border-top: solid 3px #2ea85e;
}

    .schedule .scroller {
        position: relative;
        width: 98%;
        left:1%;
        background-color: #41c073;
    }

        .schedule .scroller .item {
            position: relative;
            display: inline-table;
            width: 32%;
            left: 1%;
            background-color: #41c073;
            border-bottom: solid 3px #41c073;
        }

        .schedule .scroller .item.on {
            border-bottom: solid 3px green;
        }


    .schedule .scroller img {
        width: 100%;
        height: auto;
    }

    .schedule .texts {
        padding: 0px 0;
    }

        .schedule .texts img {
            width: 100%;
            height: auto;
        }

    .schedule .seats-tab .triggers {
        padding: 0 2px;
    }

        .schedule .seats-tab .triggers li {
            font: normal 15px 微软雅黑;
            color: #666;
            height: 28px;
            line-height: 14px;
            padding: 0 6px;
            display: inline-block;
        }

            .schedule .seats-tab .triggers li.on {
                border-bottom: orange solid 3px;
                color: orange;
            }

    .schedule .seats-tab .holders .holder {
        width: 100%;
        text-align: left;
    }

        .schedule .seats-tab .holders .holder tr {
            height: 58px;
        }

        .schedule .seats-tab .holders .holder .sub {
            color: #999;
        }

        .schedule .seats-tab .holders .holder .price {
            color: #f63;
        }

.movie-detail .movie-info {
    background: #fff;
    border-bottom: 1px solid #ff8400;
    color: #333;
    padding: 15px;
}

    .movie-detail .movie-info .thumbnail {
        width: 90px;
        height: 134px;
        float: left;
        vertical-align: middle;
    }

    .movie-detail .movie-info .base-info {
        margin: 0 5px 0 100px;
        font-size: 12px;
    }

        .movie-detail .movie-info .base-info .score {
            font-size: 20px;
            color: #ff8400;
            vertical-align: middle;
        }

            .movie-detail .movie-info .base-info .score .small {
                font-size: 12px;
            }

        .movie-detail .movie-info .base-info .technique {
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            color: #fff;
            background-color: #0196d8;
            padding: 2px 8px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
        }

        .movie-detail .movie-info .base-info .desc {
            padding: 2px 0;
            font-size: 14px;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
        }

        .movie-detail .movie-info .base-info .director {
            color: #8c8c8c;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .movie-detail .movie-info .base-info .actors {
            color: #8c8c8c;
            overflow: hidden;
            height: 36px;
            line-height: 18px;
        }

        .movie-detail .movie-info .base-info .other {
            color: #8c8c8c;
        }

        .movie-detail .movie-info .base-info .name {
            color: #323232;
        }

.shop-schedule {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
}

    .shop-schedule .schedule .wrapper {
        overflow: hidden;
        background-color: rgb(65, 192, 115);
    }

    .shop-schedule .schedule .time-wrapper {
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

    .shop-schedule .schedule .sub {
        color: #999;
    }

    .shop-schedule .schedule tr.last {
        height: 50px;
        line-height: 50px;
    }

        .shop-schedule .schedule tr.last td {
            text-align: center;
        }

            .shop-schedule .schedule tr.last td p {
                margin-left: -15px;
                font-size: 13px;
                color: #666;
            }

            .shop-schedule .schedule tr.last td .no_data {
                margin: 0 0 -10px 0;
                font-size: 15px;
                color: #000;
            }

.movie-popular {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: rgba(65, 192, 115, 0.60) repeat-x;
    overflow: hidden;
    top: -3px;
    z-index: 400;
}

    .movie-popular .wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

        .movie-popular .wrapper .scroller {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            height: auto;
        }

            .movie-popular .wrapper .scroller .slide {
                display: inline-block;
                position: relative;
                margin-right: 5px;
                float: left;
                z-index: 10;
                width: 100px;
            }

                .movie-popular .wrapper .scroller .slide img {
                    width: 100%;
                    height: 100%;
                    left: -2%;
                }

                .movie-popular .wrapper .scroller .slide .booking {
                    background-color: #8fbe00;
                    font-size: 10px;
                    color: #fff;
                    padding: 2px 4px;
                    border-radius: 1px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }

                .movie-popular .wrapper .scroller .slide .title {
                    margin-top: -10px;
                    font-size: 13px;
                    color: #fff;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .movie-popular .wrapper .scroller .slide .score {
                    font-size: 12px;
                    color: #ff8400;
                }

                .movie-popular .wrapper .scroller .slide .tag-cnt {
                    position: absolute;
                    top: 10px;
                    left: 0;
                }

                    .movie-popular .wrapper .scroller .slide .tag-cnt .type-tag {
                        margin-bottom: 2px;
                    }

.top-event {
    overflow: hidden;
    position: relative;
}

    .top-event .wrap {
        overflow: hidden;
    }

        .top-event .wrap a {
            float: left;
            position: relative;
            width: 100%;
            font-size: 0;
        }

    .top-event img {
        width: 100%;
        height: auto;
        font-size: 0;
    }

    .top-event .circles {
        margin: 0 auto;
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        height: 10px;
        line-height: 10px;
    }

        .top-event .circles .item {
            border-radius: 8px;
            -webkit-border-radius: 8px;
            width: 8px;
            height: 8px;
            background: #fff;
            display: inline-block;
            font-size: 0;
            opacity: .3;
        }

            .top-event .circles .item.on {
                opacity: 1;
            }

.shop-list {
    font-size: 12px;
    background: #FFF;
}

    .shop-list .item {
        display: block;
        padding-left: 14px;
    }

        .shop-list .item .cnt {
            padding: 16px 13px 12px 0;
        }

        .shop-list .item h3 {
            color: #323232;
            margin-bottom: 6px;
            font-size: 16px;
            font-weight: 400;
        }

        .shop-list .item .comment {
            margin-bottom: 6px;
            position: relative;
        }

        .shop-list .item .up-price {
            position: absolute;
            right: 0;
            color: #999;
        }

            .shop-list .item .up-price .price {
                font-size: 16px;
                color: #f63;
                vertical-align: -1px;
            }

        .shop-list .item .intro span {
            display: inline-block;
        }

            .shop-list .item .intro span:first-child {
                margin-right: 10px;
            }

        .shop-list .item span {
            vertical-align: middle;
            color: #666;
        }

        .shop-list .item .dis {
            float: right;
        }

    .shop-list .item_showmore {
        padding: 16px 13px 12px;
        font-size: 13px;
        color: #666;
        text-align: center;
    }

        .shop-list .item_showmore .arrow-ent {
            -webkit-transform: rotate(45deg);
            margin: 2px 4px 0;
            width: 6px;
            height: 6px;
            border-right: 2px solid #bab5ad;
            border-bottom: 2px solid #bab5ad;
        }

    .shop-list .star {
        margin-right: 10px;
    }

.fruitless {
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 30px;
    padding: 50px 0;
}

.J_close_timetable {
    color: #666;
}

    .J_close_timetable:active, .J_close_timetable:visited {
        color: #666;
    }

.list-nav {
    position: relative;
    z-index: 300;
    background: #fff;
    width: 100%;
}

    .list-nav .cat .item {
        display: block;
        width: 33%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: right center no-repeat;
        background-size: 1px auto;
        float: left;
        text-align: center;
        color: #646464;
        font-size: 13px;
        height: 39px;
        line-height: 39px;
        position: relative;
    }

        .list-nav .cat .item.half {
            width: 50%;
        }

        .list-nav .cat .item:last-child {
            background: 0 0;
        }

        .list-nav .cat .item .drop {
            display: inline-block;
            width: 13px;
            height: 7px;
            background: no-repeat 0 0;
            background-size: 13px auto;
            margin-left: 5px;
            -webkit-transition: -webkit-transform .3s;
        }

        .list-nav .cat .item.on .drop {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .list-nav .cat .item.on:after {
            display: block;
            content: '';
            width: 17px;
            height: 7px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -8px;
            background: url(//j3.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/nav-select.png) no-repeat 0 0;
            background-size: 17px auto;
        }

    .list-nav .selector {
        position: absolute;
        left: 0;
        top: 39px;
        color: #323232;
        width: 100%;
        height: 270px;
        font-size: 15px;
        overflow-y: hidden;
        background-color: #fff;
    }

        .list-nav .selector .menu {
            position: relative;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            float: left;
        }

            .list-nav .selector .menu .item {
                padding-left: 15px;
            }

            .list-nav .selector .menu .item_t {
                padding-left: 15px;
            }

        .list-nav .selector .main {
            width: 45%;
            background: #f5f5f5;
        }

            .list-nav .selector .main.full {
                width: 100%;
                background-color: #FFF;
            }

            .list-nav .selector .main .item.on {
                background-color: #fff;
            }

        .list-nav .selector .sub {
            position: absolute;
            left: 100%;
            top: 0;
            width: 122%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding-left: 15px;
            height: 270px;
        }

            .list-nav .selector .sub .item.on {
                border-bottom: solid 1px #ff8400;
                color: #ff8400;
            }

        .list-nav .selector .item {
            display: block;
            height: 45px;
            line-height: 45px;
            color: #323232;
        }

        .list-nav .selector .item_t {
            display: block;
            height: 45px;
            line-height: 45px;
            color: #ff970c;
        }

        .list-nav .selector .num {
            color: #878787;
            float: right;
            font-size: 12px;
        }

.mark-booking, .mark-card, .mark-group, .mark-promo, .mark-takeaway, .mark-vip, .mark-sign, .mark-seat {
    color: #FFF!important;
    padding: 2px 3px;
    font-size: 12px;
    display: inline-block;
    margin-left: 2px;
    font-weight: 400;
    position: relative;
    top: -1px;
}

.mark-booking {
    background-color: #5fa51b;
}

.mark-vip {
    background-color: #499bde;
    padding: 3px 1px;
}

.mark-group {
    background-color: #f51b0a;
}

.mark-promo {
    background-color: #f60;
}

.mark-card {
    background-color: #3299ff;
}

.mark-sign {
    background-color: #a3cb3a;
}

.mark-seat {
    background-color: #5eb22d;
}

.order-phone .title {
    height: 45px;
    line-height: 45px;
    color: #999;
    padding-left: 15px;
}

.order-phone .content {
    height: 45px;
    line-height: 45px;
    color: #333;
    padding-left: 15px;
    background-color: #fff;
}

    .order-phone .content input {
        border: none;
        display: block;
        height: 25px;
        line-height: 25px;
        padding: 10px 0;
    }

.order-buy .title {
    height: 45px;
    line-height: 45px;
    color: #999;
    padding-left: 15px;
}

.order-buy .content {
    line-height: 22px;
    color: #999;
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 20px;
}

.order-btn {
    padding-left: 15px;
    padding-right: 15px;
}

    .order-btn .btn {
        font-size: 18px;
        display: block;
        border: none;
        height: 45px;
        line-height: 45px;
    }

.order-ticket {
    background-color: #fff;
    padding-left: 10px;
    padding-top: 10px;
}

    .order-ticket .movie-info .title {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        border-bottom: #c8c8c8 dashed 1px;
        padding-left: 5px;
        white-space: nowrap;
        word-wrap: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .order-ticket .movie-info .title .sub {
            color: #878787;
            font-size: 12px;
        }

    .order-ticket .movie-info .cinema {
        color: #323232;
        font-size: 12px;
        line-height: 2;
        padding-left: 5px;
    }

    .order-ticket .movie-info .time {
        color: #878787;
        font-size: 12px;
        padding-left: 5px;
    }

    .order-ticket .seats {
        margin: 10px -10px 0 -10px;
        padding: 15px 15px 0;
        display: -box;
        display: -webkit-box;
        display: -ms-flexbox;
    }

        .order-ticket .seats .numbers {
            line-height: 50px;
        }

            .order-ticket .seats .numbers .num {
                color: #f63;
                font-size: 68px;
            }

            .order-ticket .seats .numbers .measure {
                font-size: 15px;
                color: #f63;
            }

        .order-ticket .seats .seat-wrap {
            margin-left: 5px;
            -webkit-box-flex: 1;
            -box-flex: 1;
            -ms-box-flex: 1;
            -ms-flex: 1;
        }

            .order-ticket .seats .seat-wrap .seat {
                line-height: 22px;
                display: inline-block;
                border: #f63 solid 1px;
                padding: 0 3px;
                margin-bottom: 5px;
                margin-right: 5px;
                width: 70px;
                text-align: center;
            }

    .order-ticket .money {
        height: 45px;
        line-height: 45px;
        padding-left: 5px;
    }

        .order-ticket .money .num {
            color: #f63;
        }

        .order-ticket .money .small-num {
            color: #f63;
            font-size: 10px;
        }

        .order-ticket .money .reduce {
            font-size: 10px;
        }

.payorder-box {
    margin-bottom: 25px;
}

    .payorder-box .col-list {
        background: #FFF;
    }

        .payorder-box .col-list a, .payorder-box .col-list b {
            position: relative;
            font-size: 16px;
            padding: 15px 20px;
            display: block;
            color: #999;
        }

            .payorder-box .col-list a strong, .payorder-box .col-list b strong {
                font-weight: 400;
                color: #333;
            }

            .payorder-box .col-list a .price, .payorder-box .col-list b .price {
                font-size: 16px;
                line-height: 18px;
                float: left;
            }

            .payorder-box .col-list a:last-child, .payorder-box .col-list b:last-child {
                background: 0 0;
            }

    .payorder-box .link-btn {
        cursor: pointer;
        color: #999;
    }

        .payorder-box .link-btn .arrow-ent {
            margin-left: 5px;
        }

    .payorder-box .circle-select {
        position: absolute;
        right: 12px;
        top: 20px;
    }

    .payorder-box .square-select {
        margin-top: -4px;
        margin-left: 10px;
    }

    .payorder-box .discount {
        display: block;
        text-align: right;
        color: #999;
    }

.card-box, .promo-list {
    padding-left: 55px;
    width: 63%;
}

    .card-box h3, .promo-list h3 {
        font-size: 15px;
        line-height: 18px;
        color: #333;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .card-box .tips, .promo-list .tips {
        font-size: 12px;
        color: #999;
    }

        .card-box .tips.red, .promo-list .tips.red {
            color: #ff8400;
        }

.promo-box {
    margin-bottom: 20px;
}

    .promo-box b .price, .promo-box a .price {
        margin-top: 12px;
        font-size: 15px;
    }

        .promo-box b .price strong, .promo-box a .price strong {
            font-size: 30px;
            color: #f63;
        }

    .promo-box .promo-list {
        padding-left: 60px;
        padding-right: 45px;
    }

    .promo-box .promo-code {
        padding: 15px 12px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
    }

.payorder-box {
    margin-bottom: 25px;
}

    .payorder-box .bar {
        font-size: 16px;
        color: #999;
        padding: 15px 20px;
    }

    .payorder-box .item:first-child {
        background-color: #fff;
    }

    .payorder-box .item {
        position: relative;
        font-size: 16px;
        padding: 15px 20px;
        color: #999;
        background-color: #fff;
        display: block;
    }

        .payorder-box .item strong {
            font-weight: 400;
            color: #333;
        }

        .payorder-box .item .price {
            font-size: 16px;
            line-height: 18px;
            color: #f63;
        }

        .payorder-box .item .f-r {
            float: right;
        }

            .payorder-box .item .f-r.arrow {
                margin-right: 10px;
                margin-top: 5px;
            }

            .payorder-box .item .f-r .arrow-ent {
                right: 10px;
                top: 26px;
            }

        .payorder-box .item .f-l {
            float: left;
        }

    .payorder-box .circle-select {
        position: absolute;
        right: 12px;
        top: 20px;
        display: inline-block;
        width: 24px;
        border: #999 solid 1px;
        text-align: center;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        height: 24px;
        line-height: 24px;
    }

        .payorder-box .circle-select.on {
            border-color: #f63;
        }

.card-box {
    padding-left: 55px;
    width: 63%;
}

    .card-box h3 {
        font-size: 15px;
        line-height: 18px;
        color: #333;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .card-box .tips {
        font-size: 12px;
        color: #999;
    }

        .card-box .tips.red {
            color: #ff8400;
        }

.order-success {
    padding: 25px 17px 15px 8px;
    box-sizing: border-box;
    min-height: 85px;
    margin: 0 0 20px;
    display: -webkit-box;
    background: #FFF;
}

    .order-success .pay-icon {
        margin-right: 10px;
    }

        .order-success .pay-icon i {
            width: 33px;
            height: 30px;
            margin-top: 5px;
            display: inline-block;
            background-image: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/pay.comm.png);
            background-repeat: no-repeat;
            background-size: 35px auto;
        }

        .order-success .pay-icon .suc {
            background-position: 0 0;
        }

        .order-success .pay-icon .prog {
            height: 25px;
            background-position: 0 -70px;
        }

        .order-success .pay-icon .err {
            background-position: 0 -96px;
            background-image: url(//j2.s2.dpfile.com/mod/app-m-movie/0.2.4/css/img/no-ticket-bg.png);
            background-size: 82px auto;
            width: 82px;
            height: 110px;
            background-position: 0 0;
        }

    .order-success .info {
        -webkit-box-flex: 1;
        line-height: 40px;
        font-size: 15px;
    }

.seat-ticket {
    padding-top: 10px;
    padding-left: 15px;
    background-color: #fff;
}

    .seat-ticket .movie-info {
        padding-bottom: 10px;
        border-bottom: #c8c8c8 dashed 1px;
    }

        .seat-ticket .movie-info .movie {
            margin-right: 80px;
        }

            .seat-ticket .movie-info .movie .title {
                font-size: 18px;
                height: 30px;
                line-height: 30px;
                white-space: nowrap;
                word-wrap: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-left: 5px;
            }

                .seat-ticket .movie-info .movie .title .sub {
                    color: #878787;
                    font-size: 12px;
                }

            .seat-ticket .movie-info .movie .time {
                color: #878787;
                font-size: 12px;
                padding-left: 5px;
            }

        .seat-ticket .movie-info .movie-btn {
            float: right;
            padding: 5px 10px 0 0;
            -webkit-box-align: center;
            -ms-box-align: center;
            -moz-box-align: center;
        }

            .seat-ticket .movie-info .movie-btn .btn {
                padding: 0 15px;
            }

    .seat-ticket .seats {
        position: relative;
        padding-top: 5px;
        display: -box;
        display: -webkit-box;
        display: -ms-flexbox;
    }

        .seat-ticket .seats .seat-wrap {
            padding-right: 100px;
            margin-left: 5px;
            min-height: 30px;
        }

            .seat-ticket .seats .seat-wrap .seat {
                line-height: 22px;
                display: inline-block;
                border: #f63 solid 1px;
                padding: 0 3px;
                margin-bottom: 5px;
                margin-right: 5px;
                width: 70px;
                text-align: center;
            }

        .seat-ticket .seats .money {
            padding-right: 15px;
            position: absolute;
            top: 50%;
            margin-top: -9px;
            right: 0;
            color: #f63;
            font-size: 16px;
        }

        .seat-ticket .seats .info {
            height: 30px;
            line-height: 30px;
            color: #f63;
        }

.seat-icon, .seat-holder {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.seat-img {
    line-height: 30px;
    text-align: center;
}

    .seat-img .seat-icon {
        margin-bottom: -4px;
    }

    .seat-img .text {
        color: #878787;
        padding-right: 8px;
    }

        .seat-img .text:last-child {
            color: #878787;
            padding-right: 0;
        }

.seat-select {
    position: relative;
    background: #c7c7c7;
    overflow: hidden;
}

    .seat-select .seats-container {
        margin-left: 30px;
    }

    .seat-select .seat-area {
        height: 200px;
        overflow: hidden;
        position: relative;
    }

    .seat-select .thumb-container {
        background: #000;
        opacity: .6;
        width: 105px;
        height: 90px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .seat-select .viewport {
        border: solid red 1px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .seat-select .seat-icon, .seat-select .seat-holder {
        margin-right: 5px;
    }

    .seat-select ul {
        font-size: 0;
        padding-bottom: 5px;
        white-space: nowrap;
    }

    .seat-select .screen {
        background: #f2f2f2;
        width: 230px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        margin: 0 auto 10px;
        position: relative;
    }

        .seat-select .screen:after {
            width: 0;
            height: 0;
            border: solid 8px transparent;
            border-top-color: #f2f2f2;
            font-size: 0;
            position: absolute;
            bottom: -16px;
            left: 50%;
            margin: 0 0 0 -8px;
            content: '';
        }

    .seat-select .line {
        height: 100%;
        background: #f2f2f2;
        width: 1px;
        margin-left: -1px;
        position: absolute;
        left: 50%;
        top: 0;
    }

    .seat-select > .line {
        display: none;
    }

    .seat-select .scale {
        display: inline-block;
        position: relative;
    }

    .seat-select .lines {
        width: 18px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        background: #a6a6a6;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 5px;
        margin-top: -10px;
        padding: 10px 0;
        z-index: 100;
    }

        .seat-select .lines li {
            line-height: 15px;
            font-size: 12px;
            margin-bottom: 5px;
        }

    .seat-select .provider {
        color: #a6a6a6;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

.m-coupon {
    background-color: #f0f0f0;
}

    .m-coupon .m-list-page a {
        display: block;
    }

    .m-coupon .m-list-page .header {
        padding: 0;
        font-size: 15px;
        background-color: #fff;
        line-height: 15px;
    }

        .m-coupon .m-list-page .header .fl-center {
            -webkit-box-flex: 1;
            text-align: center;
            padding: 15px 0;
            display: block;
        }

        .m-coupon .m-list-page .header .sel {
            color: #f63;
            border-bottom: solid 2px #f63;
        }

    .m-coupon .m-list-page .list {
        margin: 10px 0;
    }

        .m-coupon .m-list-page .list .ul-list {
            margin: 0 0 0 10px;
        }

            .m-coupon .m-list-page .list .ul-list .li-list {
                height: 80px;
                padding: 10px 0;
                position: relative;
            }

                .m-coupon .m-list-page .list .ul-list .li-list .pic img {
                    width: 60px;
                    height: 80px;
                }

                .m-coupon .m-list-page .list .ul-list .li-list .content {
                    margin-top: 13px;
                    padding: 0 0 0 10px;
                }

                    .m-coupon .m-list-page .list .ul-list .li-list .content .title {
                        font-size: 15px;
                    }

                        .m-coupon .m-list-page .list .ul-list .li-list .content .title .num {
                            color: #f63;
                            font-size: 12px;
                            padding-left: 5px;
                        }

                    .m-coupon .m-list-page .list .ul-list .li-list .content .sub-title {
                        font-size: 12px;
                        padding-top: 3px;
                    }

                    .m-coupon .m-list-page .list .ul-list .li-list .content .detail {
                        font-size: 12px;
                        color: #999;
                        padding-top: 3px;
                    }

                .m-coupon .m-list-page .list .ul-list .li-list .btn {
                    right: 10px;
                    margin-top: 2px;
                    position: absolute;
                    height: 30px;
                    padding: 0 16px;
                    font-size: 14px;
                    top: 50%;
                    color: #fff;
                    border-radius: 3px;
                }

                .m-coupon .m-list-page .list .ul-list .li-list .able {
                    background-color: #f63;
                }

                .m-coupon .m-list-page .list .ul-list .li-list .disable {
                    background-color: #ccc;
                }

.flex-box {
    display: -webkit-box;
}

.bg-fff {
    background-color: #fff;
}

.m-coupon-detail {
    background-color: #f0f0f0;
}

    .m-coupon-detail .m-detail-page .ul-list {
        background-color: #f0f0f0;
    }

        .m-coupon-detail .m-detail-page .ul-list .content {
            margin-left: 15px;
        }

            .m-coupon-detail .m-detail-page .ul-list .content .inner {
                display: block;
                color: #999;
                padding: 15px 0;
            }

                .m-coupon-detail .m-detail-page .ul-list .content .inner img {
                    -webkit-box-flex: 1;
                }

                .m-coupon-detail .m-detail-page .ul-list .content .inner .arrow-fix {
                    top: 35px;
                    right: 15px;
                }

                .m-coupon-detail .m-detail-page .ul-list .content .inner .arrow-fix2 {
                    top: 5px;
                    right: 15px;
                }

                .m-coupon-detail .m-detail-page .ul-list .content .inner .inner-right {
                    padding-right: 15px;
                }

                .m-coupon-detail .m-detail-page .ul-list .content .inner .inner-content {
                    -webkit-box-flex: 1;
                    padding: 12px 0 0 12px;
                }

                    .m-coupon-detail .m-detail-page .ul-list .content .inner .inner-content .line1 {
                        font-size: 14px;
                        color: #333;
                    }

                    .m-coupon-detail .m-detail-page .ul-list .content .inner .inner-content .line2 {
                        font-size: 12px;
                        color: #999;
                    }

                    .m-coupon-detail .m-detail-page .ul-list .content .inner .inner-content .line3 {
                        font-size: 12px;
                        color: #f63;
                    }

                .m-coupon-detail .m-detail-page .ul-list .content .inner.header {
                    display: -webkit-box;
                    height: 80px;
                }

    .m-coupon-detail .m-detail-page .btn {
        margin: 0 20px;
        font-size: 16px;
        border-radius: 3px;
        text-align: center;
        display: block;
        height: 45px;
        line-height: 45px;
    }

        .m-coupon-detail .m-detail-page .btn.red {
            background-color: #f63;
            color: #fff;
            border: 1px solid #f63;
            margin: 30px 15px 15px;
        }

        .m-coupon-detail .m-detail-page .btn.white {
            background-color: #fff;
            color: #333;
            border: 1px solid #bbb;
            margin: 15px;
        }

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.color-333 {
    color: #333;
}

.color-ff6633 {
    color: #f63;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.bg-fff {
    background-color: #fff;
}

.m-coupon-detail {
    background-color: #f0f0f0;
}

    .m-coupon-detail .m-refund-page .refund-title {
        background-color: #f0f0f0;
        color: #333;
        line-height: 43px;
        height: 38px;
        padding: 0 15px;
        font-size: 14px;
        color: #999;
    }

    .m-coupon-detail .m-refund-page .sub-title {
        line-height: 43px;
        height: 38px;
        color: #999;
        padding: 0 15px;
        font-size: 14px;
        color: #999;
    }

    .m-coupon-detail .m-refund-page .content {
        font-size: 15px;
        background-color: #fff;
    }

        .m-coupon-detail .m-refund-page .content .margin-left-10 {
            margin-left: 15px;
        }

        .m-coupon-detail .m-refund-page .content p {
            padding: 0 15px 0 0;
            height: 45px;
            line-height: 45px;
            display: block;
            position: relative;
        }

            .m-coupon-detail .m-refund-page .content p select {
                text-align: center;
                width: 60px;
                right: 10px;
                position: absolute;
                top: 10px;
            }

            .m-coupon-detail .m-refund-page .content p .price {
                color: #f63;
                font-size: 15px;
            }

            .m-coupon-detail .m-refund-page .content p .tips {
                font-size: 12px;
            }

        .m-coupon-detail .m-refund-page .content .refund-way {
            padding: 0 15px 0 0;
            height: 60px;
        }

            .m-coupon-detail .m-refund-page .content .refund-way .line {
                display: block;
            }

                .m-coupon-detail .m-refund-page .content .refund-way .line.line-1 {
                    padding-top: 10px;
                }

                .m-coupon-detail .m-refund-page .content .refund-way .line.line-2 {
                    color: #999;
                    font-size: 12px;
                }

    .m-coupon-detail .m-refund-page .btn {
        padding: 5px 0;
        display: block;
        background-color: #f63;
        color: #fff;
        border: 1px solid #f63;
        margin: 30px 15px 15px;
    }

.BFC {
    overflow: hidden;
}

.pos-relative {
    position: relative;
}

.cr-999 {
    color: #999;
}

.CallMT {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 40%;
    height: 40px;
    left: 30%;
    background-color: #41C073;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: #999 5px 5px 5px;
}

    .CallMT a {
        font-family: 幼圆;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
    }

.jieshao {
    position: relative;
    width: 90%;
    height: auto;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.70);
    text-align: start;
    line-height: 20px;
    border-radius: 5px;
    padding:2%;
}

    .jieshao b {
        font-family: 幼圆;
        font-weight: bold;
        font-size: large;
        color: #000;
    }

    .jieshao p {
        font-family: 幼圆;
        font-weight:  bold;
        font-size: medium;
        color: #000;
    }
