.download_layer {
    box-sizing: border-box;
    width: 250px;
    background: #fff;
    padding: 20px 0;
    border-radius: 4px;
    z-index: 99999999;
    position: fixed;
    top: 50%;
    left: 50%;
}

    .download_layer .download_text {
        color: #333;
        font-size: 12px;
        word-break: break-all;
        margin: 0;
        padding: 0 20px;
    }

    .download_layer .download_btns {
        margin-top: 20px;
        font-size: 0;
        text-align: center;
    }

        .download_layer .download_btns a {
            display: inline-block;
            width: 100px;
            text-decoration: none;
            color: #666;
            border: solid 1px #666;
            border-radius: 2px;
            font-size: 14px;
            line-height: 30px;
        }

            .download_layer .download_btns a:first-child {
                color: #fff;
                background: #f63;
                border-color: #f63;
                margin-right: 10px;
            }
